.navTop {
  position: fixed;
  //   font-size: 2rem;
  top: 0;
  width: 100vw;
  padding: 2rem 4rem;

  background-image: linear-gradient(to bottom, #141414, transparent);

  transition: all 0.3s ease-in;

  &--black {
    background-color: #141414;
  }

  display: flex;
  //   z-index: 1;
  justify-content: space-between;

  &__logo {
    width: 8rem;
    object-fit: contain;
  }

  &__avatar {
    width: 3rem;
    object-fit: contain;
  }
}
